.vscode/
*.rar
*.o
*.d
*.hex
*.crf
*.htm
*.dep
*.map
*.bak
*.axf
*.lnp
*.lst
*.ini
*.scvd
*.iex
*.sct
*.artur
*.Komputer
*.tjuln
*.tilen
*.dbgconf
*.uvguix
*.uvoptx
*.__i
*.i
*.txt
RTE/


log_file.txt
.metadata/
.mxproject
.settings/
template/
project.ioc
mx.scratch